{% include 'header.html' %}
    <main role="main">
    <section class="section hero">
  <div class="hero-inner">
    <h1>Welcome!<br />
      How can we help you?</h1>
  </div>
</section>

<div class="container">
 <!-- <section class="section firmware">
    <div class="firmware-inner">
      <h1>Firmware Update 3.2</h1>
      <p>Update your Here One bud firmware to utilize our latest features.</p>
      <a href="#">Update</a>
    </div>
      </section>//-->
  <section class="section knowledge-base">
    <section class="categories blocks">
      <h1>Help Topics</h1>
      <ul class="blocks-list">



          <li class="blocks-item">
            <a href='/hc/en-us/sections/115001021728-FAQ' class="blocks-item-link">
              <h4 class="blocks-item-title">FAQ</h4>
             <!-- <p class="blocks-item-description"></p>//-->
            </a>

          </li>

          <li class="blocks-item">
            <a href='/hc/en-us/sections/115001012447-Quickstart-Pairing' class="blocks-item-link">
              <h4 class="blocks-item-title">Quickstart &amp; Pairing</h4>
             <!-- <p class="blocks-item-description"></p>//-->
            </a>

          </li>

          <li class="blocks-item">
            <a href='/hc/en-us/sections/115001023768-Controlling-Sound' class="blocks-item-link">
              <h4 class="blocks-item-title">Controlling Sound</h4>
             <!-- <p class="blocks-item-description"></p>//-->
            </a>

          </li>

          <li class="blocks-item">
            <a href='/hc/en-us/sections/115001012587-Streaming-Audio' class="blocks-item-link">
              <h4 class="blocks-item-title">Streaming Audio</h4>
             <!-- <p class="blocks-item-description"></p>//-->
            </a>

          </li>

          <li class="blocks-item">
            <a href='/hc/en-us/sections/115001023828-Personalizing' class="blocks-item-link">
              <h4 class="blocks-item-title">Personalizing</h4>
             <!-- <p class="blocks-item-description"></p>//-->
            </a>

          </li>

          <li class="blocks-item">
            <a href='/hc/en-us/sections/115001023848-Battery-Charging' class="blocks-item-link">
              <h4 class="blocks-item-title">Battery &amp; Charging</h4>
             <!-- <p class="blocks-item-description"></p>//-->
            </a>

          </li>

          <li class="blocks-item">
            <a href='/hc/en-us/sections/115001023888-Hearing-Health-Accessibility' class="blocks-item-link">
              <h4 class="blocks-item-title">Hearing Health &amp; Accessibility</h4>
             <!-- <p class="blocks-item-description"></p>//-->
            </a>

          </li>

          <li class="blocks-item">
            <a href='/hc/en-us/sections/115001023868-Troubleshooting' class="blocks-item-link">
              <h4 class="blocks-item-title">Troubleshooting</h4>
             <!-- <p class="blocks-item-description"></p>//-->
            </a>

          </li>






      </ul>
    </section>


  </section>

</div>


        <section class="home-articles">
                <h3>Get Started</h3>
          <div class="video-list-container">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9WU4zokqkTg?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>

          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2G2UUIdXa_g?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
          </div>
        <h3>Top Articles</h3>
        <ul class="article-list promoted-articles">

            <li class="promoted-articles-item">
              <a href="/hc/en-us/articles/115003048127-What-devices-are-compatible-with-Here-One-">
                What devices are compatible with Here One?
              </a>
            </li>

            <li class="promoted-articles-item">
              <a href="/hc/en-us/articles/115003331348-Getting-started-and-pairing-for-the-first-time">
                Getting started and pairing for the first time
              </a>
            </li>

            <li class="promoted-articles-item">
              <a href="/hc/en-us/articles/115003053807-How-do-I-use-Touch-Controls-on-Here-One-What-can-I-do-with-them-">
                How do I use Touch Controls on Here One? What can I do with them?
              </a>
            </li>

            <li class="promoted-articles-item">
              <a href="/hc/en-us/articles/115003180068-How-do-I-access-Siri-Google-Assistant-and-other-smart-assistants-">
                How do I access Siri, Google Assistant, and other smart assistants?
              </a>
            </li>

            <li class="promoted-articles-item">
              <a href="/hc/en-us/articles/115003048207-Is-Here-One-designed-to-treat-hearing-loss-">
                Is Here One designed to treat hearing loss?
              </a>
            </li>

        </ul>
      </section>
        {% include 'footer.html' %}
